/*----- Menu styling -----*/

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 375px;
    height: 60px;
}

.menuImage1 {
    width: 33px;
}

.menuImage2 {
    width: 42px;
}

.menuImage3 {
    width: 50px;
}

.menuImage4 {
    width: 54px;
}


/*----- Preference styling -----*/
.showOptions {
    display: block;
}

.hideOptions {
    display: none;
}

.optionImg {
    width: 50px;
}

.optionType {
    display: block;
    margin: 20px;
    margin-left: 50px;
}

.option {
    display: inline-block;
    margin: 5px;
    padding: 6px;
}

.activeOption {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: bisque;
    border: 1px solid orange;
    border-radius: 20px;
}