/*----- Menu styling -----*/

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 375px;
    height: 60px;
    border-top: 0.1px solid lightgrey;
}

.menuImage {
    width: 27px;
}

.menuImage1 {
    width: 30px;
}

/*----- Preference styling -----*/
.showOptions {
    display: block;
}

.hideOptions {
    display: none;
}

.optionImg {
    width: 50px;
}

.optionType {
    display: flex;
    justify-content: center;
    margin: 10px 40px;
}

.imgOption {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 20px;
}

.imgActiveOption {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: bisque;
    border: 1px solid orange;
    border-radius: 20px;
}

.option {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 14px;
    font-size: 14px;
    margin-right: 10px;
}

.activeOption {
    display: inline-block;
    padding: 14px;
    background-color: bisque;
    border: 1px solid orange;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.preferanceOptions {
    margin-top: 80px;
}

.continueButtons {
    border-radius: 15px;
    border: 0;
    padding: 10px;
    width: 160px;
    height: 40px;
    background-color: #ff914d;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buyerOptions {
    margin-left: 40px;
}

.optionItem {
    display: flex;
    font-size: 14px;
}

.rightAlignText {
    flex: 1;
    font-size: 14px;
    align-items: center;
}

textarea {
    width: 269px;
    display: block;
    padding: 9px;
    margin-left: 50px;
    height: 100px;
    border: 0.5px solid grey;
    border-radius: 15px;
}

.textOption {
    font-size: 14px;
    padding: 14px;
}

#sellerForm textarea {
    margin-left: 0px;
    border-radius: 15px;
    border: 0.5px solid grey;
}

#sellerForm .continueButtons, #buyerForm .continueButtons {
    margin: 40px;
    width: 150px;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px;
    width: 270px;
    display: block;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: white;
    border: 0.5px solid grey;
}

.preferanceImg {
    margin-top: 426px;
    display: inline-block;
    margin-left: 44%;
}

.preferanceImg img {
    width: 40px;
}

.optionItem:hover, .optionImg:hover, input:hover, textarea:hover, select:hover {
    cursor: pointer;
}

.optionTypeCatDog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

#sellerForm input, #buyerForm input {
    width: 269px;
    border-radius: 15px;
    padding: 10px;
    margin: 0;
}

.pawLoad {
    width: 60px;
    margin: 150px;
}
