* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff914d;
    height: 60px;
}

.arrow {
    display: inline;
}

.tekst {
    text-align: center;
}

#headerLoginTekst {
    color: white;
    font-size: 20px;
}

.contentForm {
    margin: 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}