/*-------- GENERAL STYLING ---------*/

* {
    box-sizing: border-box;
}

body {
    width: 375px;
    height: 812px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Posisjonering av match hjertet*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff914d;
    color: white;
    width: 375px;
    height: 60px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 18%;
    max-width: 100%;
}


input {
    width: 100%;
    margin: 10% 0;
    border-radius: 15px;
    border: 0.3px solid grey;
    padding: 10px;
}

::placeholder {
    color: #ff914d;
    text-align: center;
    opacity: 0.7;
}

.orangeButton {
    border-radius: 15px;
    border: 0;
    padding: 10px;
    width: 160px;
    height: 40px;
    background-color: #ff914d;
    color: white;
}

.loginSignupButtonAtag {
    border-radius: 15px;
    border: 0;
    padding: 10px;
    width: 160px;
    height: 40px;
    background-color: #ff914d;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

a, a:link:active, a:visited:active {
    text-decoration: none;
}

.leftArrowAtag {
    display: inline-block;
    margin-top: 26px;
    margin-left: 40px;
    color: black;
}

#arrowPtag {
    font-weight: bold;
}

/*----------- GENERAL PROFILES ----------*/

.prefIcons {
    width: 50px;
    height: 50px;
}

.containerProfiles {
    margin: 0 30px;
    width: 85%;
    /*Posisjonering av match hjertet*/
    position: absolute;
    top: 410px;
}

.prefH4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
}

.locationBopelContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*-------- LOGIN STYLING ---------*/


#headerLogo {
    height: 35px;
}

#introimg {
    width: 250px;
}

.containerIntro {
    display: flex;
    justify-content: center;
}

.introTekst {
    text-align: center;
    width: 170px;
}

.containerLoginSignup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*--------  reg1_newUser STYLING ---------*/

#dineDetaljer {
    font-size: 15px;
    opacity: 0.6;
    margin-top: 30px;
    margin-bottom: 0;
}

#first {
    margin-top: 10px;
}

/*-------- animalProfile STYLING ---------*/

#animalGalleryDiv {
    /*Posisjonering av match hjertet*/
    position: absolute;
    top: 0;

}

#redHeartDiv {
    /*Posisjonering av match hjertet*/
    position: absolute;
    top: 324px;
    left: 229px;
}

#redHeartIcon {
    width: 150px;
    height: 150px;
}

#animalProfileGallery {
    width: 375px;
    height: 400px;
    object-fit: cover;
}

#animalNameAge {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#animalAge {
    margin: 5px 20px;
    font-weight: 400;
}

#animalName {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 400;
}

/*-------- USER PROFILE STYLING ---------*/

#userPicNameDiv {
    position: absolute;
    top: 100px;
    left: 100px;
}

#userPic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}

#userProfileLine {
    position: absolute;
    top: 320px;
    width: 300px;
    left: 35px;
    border: 0.5px ridge;
}

#userBioContainer {
    position: absolute;
    top: 340px;
    margin: 0 30px;
    width: 85%;
}

/*-------- buyerAllAnimalsView/Matches STYLING ---------*/
.dyrMatchHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.Active {
    border: 2px solid whitesmoke;
    padding: 3px;
    width: 140px;
    height: 30px;
    color: #ff914d;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
}

.NotActive {
    border: 0;
    padding: 5px;
    width: 140px;
    height: 30px;
    color: #ff914d;
    font-size: 15px;
    text-decoration: none;
    background-color: whitesmoke;
}

.textInActiveNotActive {
    margin: 0;
    text-align: center;
}

.animalMatchesContainer {
    display: flex;
    flex-wrap: wrap;
}

.animalMatchesPicIcon {
    position: relative;
    width: 187px;
}

.animalMatchesPic {
    width: 188px;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.heartIconStyle {
    position: absolute;
    width: 53px;
    left: 124px;
    top: 174px;
}

.animalMatchesTextStyle {
    position: absolute;
    margin: 0;
    left: 19px;
    bottom: 24px;
    color: white;
}

/*-------- SellersAnimalLikes/animalsView -------*/

#animalProfileGallerySeller {
    position: relative;
    width: 375px;
    height: 400px;
    object-fit: cover;
}

.leftArrowAtagWhite {
    position: absolute;
    color: white;
    z-index: 1;
    left: 34px;
    top: 18px;
    font-size: 25px;
}






.animalsViewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
}

#sellerViewAnimalPic {
    object-fit: cover;
    width: 375px;
    height: 150px;
}

#textIconContainer {
    display: flex;
    flex-wrap: wrap;
}



/*-------- FOOTER  STYLING ---------*/

/*.menu {*/
/*    position: fixed;*/

/*    top: 760px;*/
/*    width: 100%;*/
/*    height: 70px;*/
/*    z-index: 1;*/
/*    background-color: white;*/

/*}*/

/*.menuImage {*/
/*    width: 42px;*/
/*    margin-left: 40px;*/
/*}*/

/*.showOptions {*/
/*    display: block;*/
/*}*/

/*.hideOptions {*/
/*    display: none;*/
/*}*/

/*.optionImg {*/
/*    width: 50px;*/
/*}*/

/*.optionType {*/
/*    display: block;*/
/*    margin: 20px;*/
/*    margin-left: 50px;*/
/*}*/

/*.option {*/
/*    display: inline-block;*/
/*    margin: 5px;*/
/*    padding: 6px;*/
/*}*/

/*.activeOption {*/
/*    display: inline-block;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*    background-color: bisque;*/
/*    border: 1px solid orange;*/
/*    border-radius: 20px;*/
/*}*/

/*.menu{*/
/*    position: fixed;*/
/*}*/