<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
    <link rel="icon" type="image/png" href="../image/paw.png">
    <title>Pet Match | Profil</title>
</head>
<body>
<!-------- ANIMAL GALLERY + MATCH HEART -------->
<div id="animalGalleryDiv">
    <a class="leftArrowAtagWhite" th:href="'/buyerAllAnimalsView'"><p id="arrowPtag">&#60;</p></a>
    <img id="animalProfileGallery" th:src="${animal.getAnimalImg1()}" alt="">
</div>

<div id="redHeartDiv">
    <img id="redHeartIcon" src="../image/redHeart.png" alt="Match heart">
</div>

<!-------- ANIMAL NAME + AGE -------->
<div class="containerProfiles">

    <div id="animalNameAge">
        <h1 id="animalName" th:text="${animal.name}">Chico</h1>
        <h3 id="animalAge" th:text="${animal.age}">0.5 år</h3>
    </div>

    <!-------- ANIMAL BIO + PREFERENCES -------->

    <div id="animalBio">
        <p th:text="${animal.bio}">Lorem Ipsum er rett og slett dummytekst fra
            og for trykkeindustrien. Lorem Ipsum har
            vært bransjens standard for dummytekst helt
            siden 1500-tallet, da en ukjent boktrykker
            stokket en mengde bokstaver
            for å lage et prøveeksemplar av en bok.
        </p>
    </div>


    <div class="locationBopelContainer">
        <img class="prefIcons" src="../image/lokasjon.png" alt="Lokasjon">
        <p th:text="${theAnimalUser.municipality}">Oslo</p>
    </div>

    <div>
        <h4 class="prefH4">Preferanser</h4>

        <div class="iconContainer">
            <img class="prefIcons" src="../image/kid.png" alt="">
            <img class="prefIcons" src="../image/male.png" alt="">
            <img class="prefIcons" src="../image/female.png" alt="">
            <img class="prefIcons" src="../image/chip.png" alt="">
            <img class="prefIcons" src="../image/vaksine.png" alt="">
            <img class="prefIcons" src="../image/scissor.png" alt="">
        </div>
    </div>
</div>

</body>
</html>