<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/indexHB.css">
    <title>Pet Match | Alle dyr</title>
</head>
<body>

<!-------- HEADER -------->
<div class="dyrMatchHeaderDiv">
    <a class="Active" href="/buyerAllAnimalsView"><p class="textInActiveNotActive">Dyr</p></a>
    <a class="NotActive" href="/buyerMatches"><p class="textInActiveNotActive">Matches</p></a>
</div>


<!-------- MAIN -------->

<div class="animalMatchesContainer">
    <div th:each="eachAnimal : ${allAnimals}">
        <div class="animalMatchesPicIcon">
            <a th:href="'/animalProfile/' + ${eachAnimal.id}">
                <img class="animalMatchesPic" th:src="${eachAnimal.getAnimalImg1()}" alt="">
                <p class="animalMatchesTextStyle" th:text="${eachAnimal.name}">Kira</p>
            </a>

            <div th:if="${matchedAnimals.contains(eachAnimal)}">
                <img class="heartIconStyle" src="image/redHeart.png" alt="">
            </div>

            <div th:unless="${matchedAnimals.contains(eachAnimal)}">
                <a th:href="'/match/' + ${eachAnimal.getId()} + '/' + ${user.getId()}">
                    <img class="heartIconStyle" src="image/heartOutline.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<!-------- MENU -------->

<div class="menu" th:include="templates :: menu"></div>

</body>
</html>