<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Pet Match | Alle dyr</title>
</head>
<body>
<!-------- HEADER -------->
<div class="dyrMatchHeaderDiv">
    <a class="Active" href="/buyerAllAnimalsView"><p class="textInActiveNotActive">Dyr</p></a>
    <a class="NotActive" href="/buyerMatches"><p class="textInActiveNotActive">Matches</p></a>
</div>

<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>

<!-------- MAIN -------->

<div class="animalMatchesContainer">
    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>

    <div>
        <div class="animalMatchesPicIcon">
            <img class="animalMatchesPic" src="image/dummyDog.jfif" alt="">
            <!-- <p><span th:text="${animal.getName}"></span></p>-->
            <p class="animalMatchesTextStyle">Kira</p>
            <img class="heartIconStyle" src="image/heartOutline.png" alt="">
        </div>
    </div>


</div>
</body>
</html>