<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <title>Pet Match | Matcher</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>
<!--<style>
    @import url("/stylesheet.css");
    @import url("/indexHB.css");
</style>-->
<!-------- HEADER -------->
<div class="dyrMatchHeaderDiv">
    <a class="NotActive" href="/buyerAllAnimalsView"><p class="textInActiveNotActive">Dyr</p></a>
    <a class="Active" href="/buyerMatches"><p class="textInActiveNotActive">Matches</p></a>
</div>



<!-------- MAIN -------->
<div class="animalMatchesContainer">
    <p style="font-size: 14px; text-align: center; width: 375px" th:if="${matchedAnimals.size() == 0}">Oops, her var det ingen matches... enda.</p>
    <div th:each="eachAnimal : ${matchedAnimals}">
        <div class="animalMatchesPicIcon">
            <a th:href="'/animalProfile/' + ${eachAnimal.id}">
                <img class="animalMatchesPic" th:src="${eachAnimal.getAnimalImg1()}" alt="">
                <p class="animalMatchesTextStyle" th:text="${eachAnimal.name + ' ' + eachAnimal.age + ' år'}">Kira</p>
                <img class="heartIconStyle" src="image/redHeart.png" alt="">
            </a>
        </div>
    </div>
</div>

<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>

</body>
</html>