<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Logg inn</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>

<body>

    <!-------- HEADER -------->

    <header>
        <div class="headerLogin">
            <p id="headerLoginTekst">Velkommen</p>
        </div>
    </header>

    <a class="leftArrowAtag" href="/"><p id="arrowPtag">&#60;</p></a>
    <!-------- FORM LOGIN -------->


    <form action="/login" method="post" th:object="${user}" >
        <div class="formContainer" >
                <input id="epost" th:field="*{email}" type="email" placeholder="E-post" required autofocus>
                <input id="passord" th:field="*{password}" type="password" placeholder="Passord" required>
                <input class="orangeButton" type="submit" value="Logg inn">
        </div>
    </form>


</body>

</html>