<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="nyBruker.css">
</head>

</head>

<body>
    <!-------- HEADER -------->

    <header>
        <div class="headerNyBruker">
            <p id="headerLoginTekst">Logg inn</p>
        </div>
    </header>

    <!-------- FORM NEW USER -------->

    <form th:object="${user}" action="/registrer" method="post">


            <div class="arrow">
                <p>&#8826</p>
            </div>

            <div class="tekst">
                <p>
                    Fyll ut detaljene nedenfor for å opprette en konto
                </p>
                <p>
                    Dine detaljer
                </p>
            </div>

            <div class="contentForm">
            
                <div class="inputs">
                    <input th:field="*{firstName}" id="first" type="text" placeholder="Fornavn" autofocus>
                </div>

                <div class="inputs">
                    <input th:field="*{lastName}" id="last" type="text" placeholder="Etternavn">
                </div>

                <div>
                    <input th:field="*{email}" class="inputs" type="email" placeholder="E-post">
                </div>

                <div>
                    <input th:field="*{password}" class="inputs" type="password" placeholder="Passord">
                </div>

                <div id="submit">
                    <input id="Button" type="submit" value="Registrer  →">
                </div>
            </div>
            
    </form>


</body>

</html>