<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferanser</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="indexHB.css">
</head>
<body>

    <!-------- HEADER -------->
    <header>
        <div class="headerNyBruker">
            <p id="headerLoginTekst">Preferanser</p>
        </div>
    </header>

    <!-------- FORM NEW USER -------->
    <form action="/preferanser" method="post" >
        <!-------- BUYER OPTIONS -------->
        <input type="hidden" id="userTypeOption" th:field="${user.userType}">
        <input type="hidden" id="animalTypeOption" th:field="${animal.animalType}">
        <input type="hidden" id="homeTypeOption" th:field="${buyer.homeType}">
        <input type="hidden" id="previousAnimalOption" th:field="${buyer.isPreviousAnimalOwner}">
        <input type="hidden" id="hasChildrenOption" th:field="${buyer.hasChildren}">
        <input type="hidden" id="genderOption" th:field="${animal.isFemale}">

        <!-------- SELLER OPTIONS -------->
        <input type="hidden" id="chippedOption" th:field="${animal.isChipped}">
        <input type="hidden" id="vaccinatedOption" th:field="${animal.isVaccinated}">
        <input type="hidden" id="childFriendlyOption" th:field="${animal.isChildFriendly}">
        <input type="hidden" id="isSterilizedOption" th:field="${animal.isSterilized}">


        <div name="userType" class="optionType">
            <p id="buyer" class="activeOption">Kjøper</p>
            <p id="seller" class="option" >Selger</p>
        </div>

        <div id="buyerOptions" class="showOptions">
            <div name="animalType" class="optionType">
                <img id="dog" src="image/dogIcon.png" alt="Hund" class="activeOption optionImg">
                <img id="cat" src="image/catIconGrey.png" alt="Katt" class="optionImg">
            </div>

            <div name="homeType" class="optionType">
                <p>Bopel</p>
                <p id="apartment" class="activeOption">Leilighet</p>
                <p id="house" class="option">Hus</p>
            </div>

            <div name="isPreviousAnimalOwner" class="optionType">
                <p>Hatt dyr tidligere</p>
                <p id="yesPrevious" class="activeOption">Ja</p>
                <p id="noPrevious" class="option">Nei</p>
            </div>

            <div name="homeType" class="optionType">
                <p>Barn i husstanden</p>
                <p id="yesChildren" class="activeOption">Ja</p>
                <p id="noChildren" class="option">Nei</p>
            </div>

            <div name="gender" class="optionType">
                <p>Kjønn</p>
                <p id="female" class="activeOption">Hunkjønn</p>
                <p id="male" class="option">Hankjønn</p>
            </div>
        </div>

        <div id="sellerOptions" class="hideOptions">
            <div name="animalType" class="optionType">
                <img id="dogSeller" src="image/dogIcon.png" alt="Hund" class="activeOption optionImg">
                <img id="catSeller" src="image/catIconGrey.png" alt="Katt" class="optionImg">
            </div>

            <div name="isChipped" class="optionType">
                <p>Chip</p>
                <p id="yesChipped" class="activeOption">Ja</p>
                <p id="noChipped" class="option">Nei</p>
            </div>

            <div name="isVaccinated" class="optionType">
                <p>Vaksinert</p>
                <p id="yesVaccinated" class="activeOption">Ja</p>
                <p id="noVaccinated" class="option">Nei</p>
            </div>

            <div name="isChildFriendly" class="optionType">
                <p>Barnevennlig</p>
                <p id="yesChildfriendly" class="activeOption">Ja</p>
                <p id="noChildfriendly" class="option">Nei</p>
            </div>

            <div name="isSterilized" class="optionType">
                <p>Sterilisert/Kastrert</p>
                <p id="yesSterilized" class="activeOption">Ja</p>
                <p id="noSterilized" class="option">Nei</p>
            </div>

            <div name="genderSeller" class="optionType">
                <p>Kjønn</p>
                <p id="femaleSeller" class="activeOption">Hunkjønn</p>
                <p id="maleSeller" class="option">Hankjønn</p>
            </div>

        </div>

        <input type="submit" value="Fortsett">

    </form>

    <script src="preferances.js"></script>
</body>
</html>