<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="icon" type="image/png" href="image/paw.png">
</head>

</head>

<body>
<!-------- HEADER -------->

<header>
    <div class="headerNyBruker">
        <p id="headerLoginTekst">Registrer deg</p>
    </div>
</header>

<!-------- FORM NEW USER -------->
<p th:if="${errorMsg != null}" th:text="${errorMsg}"></p>

<form th:object="${user}" action="/registrer" method="post">
    <p th:if="${#fields.hasErrors('firstName')}">Thymeleaf FEILMELDING</p>
    <a class="leftArrowAtag" href="/"><p id="arrowPtag">&#60;</p></a>

        <div class="formContainer">
            <div class="tekst">
                <p>Fyll ut detaljene nedenfor for å opprette en konto</p>
                <p class="dineDet">Dine detaljer</p>
            </div>
           
            <input th:field="*{firstName}" class="inputs" id="first" type="text" placeholder="Fornavn" autofocus>

            <input th:field="*{lastName}" class="inputs" id="last" type="text" placeholder="Etternavn">

            <input th:field="*{email}" type="email" placeholder="E-post">

            <input th:field="*{password}" class="inputs" type="password" placeholder="Passord">

           <div class="checkboxRegistration">
               <input type="checkbox" required id="ToS" name="brukervilkaar" value="tos">
               <label for="tos"> Jeg godkjenner  <a href="#" onclick="alert('Din persondata er vår til evig tid, hahaha');">vilkårene</a> for å bruke PetMatch</label><br>
            <input type="checkbox" id="NL" name="newsletter" value="nl">
            <label for="nl"> Jeg vil ha nyhetsbrev</label><br>
           </div>

            <div id="submitBox">
                <input class="orangeButton" type="submit" value="Fortsett">
            </div>
        </div>
    </form>
</body>

</html>