<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

</head>

<body>
<!-------- HEADER -------->

<header>
    <div class="headerNyBruker">
        <p id="headerLoginTekst">Ny bruker</p>
    </div>
</header>

<!-------- FORM NEW USER -------->
<div class="arrow"¨>
    <a href="/intropage"><p>&#8826</p></a>
</div>

<form th:object="${user}" action="/registrer" method="post">

        <div class="formContainer">
            <div class="tekst">
                <p>Fyll ut detaljene nedenfor for å opprette en konto</p>
                <p>Dine detaljer</p>
            </div>
           
            <input th:field="*{firstName}" class="inputs" id="first" type="text" placeholder="Fornavn" autofocus>

            <input th:field="*{lastName}" class="inputs" id="last" type="text" placeholder="Etternavn">

            <input th:field="*{email}" type="email" placeholder="E-post">

            <input th:field="*{password}" class="inputs" type="password" placeholder="Passord">
            
            <div id="submitBox">
                <input id="loginButton" type="submit" value="Registrer  →">
            </div>
        </div>
    </form>
</body>

</html>