<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
</head>

</head>

<body>
    <div class="optionType">
        <a href="/"><p id="buyer" class="activeOption">Kjøpe dyr</p></a>
        <a href="/nyttdyr"><p id="seller" class="activeOption">Selge dyr</p></a>
    </div>
</body>

</html>