<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Match | Logg inn</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <link rel="icon" type="image/png" href="image/paw.png">
</head>

</head>

<body>

<!-------- HEADER -------->

<header>
    <div class="headerNyBruker">
        <p id="headerLoginTekst">Hva ønsker du å gjøre?</p>
    </div>
</header>
    <div class="preferanceOptions">
        <a  href="/kjoper"><p class="continueButtons">Kjøpe dyr</p></a>
        <a href="/nyttdyr"><p class="continueButtons">Selge dyr</p></a>
    </div>
</body>

</html>