<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferanser</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>

    <!-------- HEADER -------->
    <header>
        <div class="headerNyBruker">
            <p id="headerLoginTekst">Preferanser</p>
        </div>
    </header>

    <a class="leftArrowAtag" href="/preferanser"><p id="arrowPtag">&#60;</p></a>

    <!-------- FORM NEW USER -------->
    <form action="/nyttdyr" method="post" th:object="${animal}" id="sellerForm">
        <!-------- BUYER OPTIONS -------->
        <input type="hidden" id="animalTypeOption" th:field="*{animalType}">
        <input type="hidden" id="chippedOption" th:field="*{isChipped}">
        <input type="hidden" id="vaccinatedOption" th:field="*{isVaccinated}">
        <input type="hidden" id="childFriendlyOption" th:field="*{isChildFriendly}">
        <input type="hidden" id="isSterilizedOption" th:field="*{isSterilized}">
        <input type="hidden" id="isFemaleOption" th:field="*{isFemale}">
<!--        <input type="hidden" id="isActiveOption" th:field="*{isActive}">-->

        <div id="sellerOptions" class="showOptions">
            <div class="optionType" id="animalOption">
                <p class="optionItem">Hvordan dyr er det?</p>
                <div class="imageDiv">
                    <img id="DOG" src="image/dogIcon.png" alt="Hund" class="imgActiveOption optionImg">
                    <img id="CAT" src="image/catIconGrey.png" alt="Katt" class="imgOption optionImg">
                </div>
            </div>

            <div class="optionType">
                <input type="text" th:field="*{name}" placeholder="Navn">
            </div>

            <div class="optionType">
                <input type="number" th:field="*{age}" placeholder="Alder">
            </div>

            <div class="optionType">
                <textarea type="text" th:field="*{bio}" placeholder="Skriv litt om dyret"></textarea>
            </div>

            <select name="municipality">
                <option value="" selected disabled hidden>Beliggenhet</option>
                <option th:each="municipality : ${T(com.example.demo.Municipality).values()}"
                        th:value="${municipality}"
                        th:text="${municipality}">
                </option>
            </select>

            <select name="animalSize">
                <option value="" selected disabled hidden>Størrelse</option>
                <option th:each="animalSize : ${T(com.example.demo.AnimalSize).values()}"
                        th:value="${animalSize}" th:text="${animalSize}">
                </option>
            </select>

            <div class="optionType">
                <p class="optionItem">Chip:</p>
                <p id="yesChipped" class="activeOption optionItem">Ja</p>
                <p id="noChipped" class="option optionItem">Nei</p>
            </div>

            <div class="optionType">
                <p class="optionItem">Vaksinert:</p>
                <p id="yesVaccinated" class="activeOption optionItem">Ja</p>
                <p id="noVaccinated" class="option optionItem">Nei</p>
            </div>

<!--            <div class="optionType">-->
<!--                <p>Aktiv</p>-->
<!--                <p id="yesActive" class="activeOption">Ja</p>-->
<!--                <p id="noActive" class="option">Nei</p>-->
<!--            </div>-->

            <div class="optionType">
                <p class="optionItem">Barnevennlig:</p>
                <p id="yesChildfriendly" class="activeOption optionItem">Ja</p>
                <p id="noChildfriendly" class="option optionItem">Nei</p>
            </div>

            <div class="optionType">
                <p class="optionItem">Sterilisert/Kastrert:</p>
                <p id="yesSterilized" class="activeOption optionItem">Ja</p>
                <p id="noSterilized" class="option optionItem">Nei</p>
            </div>

            <div class="optionType">
                <p class="optionItem">Kjønn:</p>
                <p id="female" class="activeOption optionItem">Hunkjønn</p>
                <p id="male" class="option optionItem">Hankjønn</p>
            </div>
        </div>

        <input class="continueButtons" type="submit" value="Fortsett">
    </form>

    <script src="reg3_newAnimal.js"></script>
</body>
</html>