<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferanser</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="indexHB.css">
</head>
<body>

<!-------- HEADER -------->
<header>
    <div class="headerNyBruker">
        <p id="headerLoginTekst">Preferanser</p>
    </div>
</header>

<a class="leftArrowAtag" href="/preferanser"><p id="arrowPtag">&#60;</p></a>

    <!-------- FORM NEW USER -------->
    <form action="/kjoper" method="post" th:object="${buyer}">
        <!-------- BUYER OPTIONS -------->
        <input type="hidden" id="animalTypeOption" th:field="*{animalType}">
        <input type="hidden" id="homeTypeOption" th:field="*{homeType}">
        <input type="hidden" id="previousAnimalOption" th:field="*{isPreviousAnimalOwner}">
        <input type="hidden" id="hasChildrenOption" th:field="*{hasChildren}">

        <div id="buyerOptions" class="showOptions">
            <div class="optionType" id="animalOption">
                <img id="DOG" src="image/dogIcon.png" alt="Hund" class="activeOption optionImg">
                <img id="CAT" src="image/catIconGrey.png" alt="Katt" class="optionImg">
            </div>

            <div class="optionType" id="homeType">
                <p>Bopel</p>
                <p id="APARTMENT" class="activeOption">Leilighet</p>
                <p id="HOUSE" class="option">Hus</p>
            </div>

            <div class="optionType">
                <p>Hatt dyr tidligere</p>
                <p id="yesPrevious" class="activeOption">Ja</p>
                <p id="noPrevious" class="option">Nei</p>
            </div>

            <div class="optionType">
                <p>Barn i husstanden</p>
                <p id="yesChildren" class="activeOption">Ja</p>
                <p id="noChildren" class="option">Nei</p>
            </div>
        </div>
        <input class="orangeButton" type="submit" value="Fortsett">

        <script src="reg4_buyer.js"></script>
    </form>
</body>
</html>