<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferanser</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>

<!-------- HEADER -------->
<header>
    <div class="headerNyBruker">
        <p id="headerLoginTekst">Preferanser</p>
    </div>
</header>

<a class="leftArrowAtag" href="/preferanser"><p id="arrowPtag">&#60;</p></a>

    <!-------- FORM NEW USER -------->
    <form action="/kjoper" method="post" th:object="${buyer}" id="buyerForm">
        <!-------- BUYER OPTIONS -------->
        <input type="hidden" id="animalTypeOption" th:field="*{animalType}">
        <input type="hidden" id="homeTypeOption" th:field="*{homeType}">
        <input type="hidden" id="previousAnimalOption" th:field="*{isPreviousAnimalOwner}">
        <input type="hidden" id="hasChildrenOption" th:field="*{hasChildren}">

        <div id="buyerOptions" class="showOptions">
            <div class="optionTypeCatDog" id="animalOption">
                <p class="optionItem">Hvordan dyr er du på utkikk etter?</p>
                <div class="imageDiv">
                    <img id="DOG" src="image/dogIcon.png" alt="Hund" class="imgActiveOption optionImg">
                    <img id="CAT" src="image/catIconGrey.png" alt="Katt" class="optionImg imgOption">
                </div>
            </div>

            <div>
                <p class="errorText" th:if="${#fields.hasErrors('bio')}">Maks 500 tegn tillatt</p>
                <textarea type="text" th:field="*{bio}" th:errorclass="error" placeholder="Skriv litt om deg selv"></textarea>
            </div>

            <div>

                <select name="municipality" required>
                    <label>Hvor bor du?</label>
                    <option class="textInput" value="" selected disabled hidden>Velg fylke</option>
                    <option th:each="municipality : ${T(com.example.demo.Municipality).values()}"
                            th:value="${municipality}" th:text="${municipality.displayValue}"></option>
                </select>

            </div>

            <div class="optionType" id="homeType">
                <p class="optionItem rightAlignText">Bopel:</p>
                <p id="APARTMENT" class="activeOption optionItem textOption">Leilighet</p>
                <p id="HOUSE" class="option optionItem textOption">Hus</p>
            </div>

            <div class="optionType">
                <p class="optionItem rightAlignText">Hatt dyr tidligere:</p>
                <p id="yesPrevious" class="activeOption optionItem textOption">Ja</p>
                <p id="noPrevious" class="option optionItem textOption">Nei</p>
            </div>

            <div class="optionType">
                <p class="optionItem rightAlignText">Barn i husstanden:</p>
                <p id="yesChildren" class="activeOption optionItem textOption">Ja</p>
                <p id="noChildren" class="option optionItem textOption">Nei</p>
            </div>
        </div>
        <input class="continueButtons" type="submit" value="Fortsett">

        <script src="reg4_buyer.js"></script>
    </form>
</body>
</html>