<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <title>Pet Match | Dine dyr</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>

<!----------- HEADER ----------->
<header>
    <div class="headerLogin">
        <p id="headerLoginTekst">Dine dyr</p>
    </div>
</header>


<!-------- MAIN -------->

<div class="animalsViewContainer">

    <div th:each="eachAnimal : ${myAnimals}">

        <a th:href="'/sellersAnimalLikes/' + ${eachAnimal.id}">
            <img id="sellerViewAnimalPic" th:src="${eachAnimal.getAnimalImg1()}" alt="">
        </a>

        <div id="textIconContainer">
            <p th:text="${eachAnimal.name + ' ' + eachAnimal.age + ' år'}">Kira</p>
            <img class="heartAmount" src="/image/redHeart.png" alt="">
        </div>
    </div>
</div>

<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>

<div>
    <a th:href="'/leggtil'"><input class="continueButtons" type="submit" value="Legg til et nytt dyr"></a>

</div>



</body>
</html>