<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <title>Pet Match | Ditt dyr</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>


<!-------- ANIMAL GALLERY + arrow -------->
<div id="sellerAnimalLikesGalleryContainer">
    <a class="leftArrowAtagWhite" th:href="'/sellersAnimalsView'"><p id="arrowPtag">&#60;</p></a>
    <img id="animalProfileGallerySeller" th:src="${animal.getAnimalImg1()}" alt="">
</div>


<!-------- ANIMAL NAME + AGE -------->
<div class="containerProfiles">

    <div id="animalNameAge">
        <h1 id="animalName" th:text="${animal.name}">Chico</h1>
        <h3 id="animalAge" th:text="${animal.age} + 'år'">0.5 år</h3>
    </div>
    <hr class="userProfileLine">
    <!-------- ANIMAL BIO + PREFERENCES -------->

    <div id="animalBio">
        <p class="bioText" th:text="${animal.bio}">Lorem Ipsum er rett og slett dummytekst fra
            og for trykkeindustrien. Lorem Ipsum har
            vært bransjens standard for dummytekst helt
            siden 1500-tallet, da en ukjent boktrykker
            stokket en mengde bokstaver
            for å lage et prøveeksemplar av en bok.
        </p>
    </div>


    <div class="locationBopelContainer">
        <img class="prefIcons" src="/image/lokasjon.png" alt="Lokasjon">
        <p class="bioText" th:text="${user.municipality}">Oslo</p>
    </div>

    <div>
        <h4 class="prefH4">Preferanser</h4>

        <div class="iconContainer">
            <img th:if="${animal.getFemale()}" class="prefIcons" src="/image/female.png" alt="">
            <img th:unless="${animal.getFemale()}" class="prefIcons" src="/image/male.png" alt="">
            <img th:if="${animal.getIsChildFriendly()}" class="prefIcons" src="/image/kid.png" alt="">
            <img th:if="${animal.getIsChipped()}" class="prefIcons" src="/image/chip.png" alt="">
            <img th:if="${animal.getIsVaccinated()}" class="prefIcons" src="/image/vaksine.png" alt="">
            <img th:if="${animal.getIsSterilized()}" class="prefIcons" src="/image/scissor.png" alt="">
        </div>
    </div>
</div>

<hr class="userProfileLine">

<!-------- BUYER INFO -------->
<div class="buyerInfoContainer">
    <div th:each="user : ${matchedUsers}">
        <div class="buyerIconContainer">
            <p class="userBioName" th:text="${user.getFirstName() + ' ' + user.getLastName() +
            ' liker ' +  animal.name}"></p>

            <a th:href="'/userProfile/' + ${user.getId()} + '/' + ${animal.id}">
                <img id="buyerPicInSellerView" th:src="${user.getUserImg()}" alt="">
            </a>

            <div th:if="${approvedUsers.contains(user)}">
                <img class="heartIconRed" src="/image/redHeart.png" alt="">
            </div>

            <div id="heartOutlinedBlackDiv" th:unless="${approvedUsers.contains(user)}">
                <a th:href="'/approve/' + ${animal.id} + '/' + ${user.id}">
                    <img class="heartIconWhite" src="/image/whiteHeart.png" alt="">
                </a>
            </div>

            <img class="buyerIconLocation" src="/image/lokasjon.png" alt="">
            <p class="iconTextLoc" th:text="${user.municipality}"></p>
            <img class="buyerIconBopel" src="/image/bopel.png" alt="">
          <!--  <p class="iconTextBo" th:if="${user.homeType == T(com.example.demo.HomeType).HOUSE}" th:text="Hus">Hus</p>
            <p class="iconTextBo" th:if="${user.homeType == T(com.example.demo.HomeType).APARTMENT}" th:text="Leilighet">Leilighet</p>
-->
        </div>
        <hr class="userProfileLine">
    </div>
</div>

<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>

</body>
</html>