<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <title>Pet Match | Ditt dyr</title>
    <link rel="icon" type="image/png" href="/image/paw.png">
</head>
<body>


<!-------- ANIMAL GALLERY + arrow -------->
<div id="sellerAnimalLikesGalleryContainer">
    <a class="leftArrowAtagWhite" th:href="'/sellersAnimalsView'"><p id="arrowPtag">&#60;</p></a>
    <img id="animalProfileGallerySeller" th:src="${animal.getAnimalImg1()}" alt="">

    <a class="editCameraAnimal" th:if="${user}" th:href="'/animalProfile/' + ${animal.id}+ '/bilde'">
        <img class="editIcon" src="/image/camera.png" alt="Edit">
        <p class="editCameraText">Oppdater</p>
    </a>
</div>


<!-------- ANIMAL NAME + AGE -------->
<div class="containerProfilesSeller">

    <div id="animalNameAge">
        <h1 id="animalName" th:text="${animal.name}">Chico</h1>
        <h3 id="animalAge" th:text="${animal.age} + ' år'">0.5 år</h3>
    </div>
    <hr class="userProfileLine">
    <!-------- ANIMAL BIO + PREFERENCES -------->

    <div id="animalBio">
        <p class="bioText" th:text="${animal.bio}">Lorem Ipsum er rett og slett dummytekst fra
            og for trykkeindustrien. Lorem Ipsum har
            vært bransjens standard for dummytekst helt
            siden 1500-tallet, da en ukjent boktrykker
            stokket en mengde bokstaver
            for å lage et prøveeksemplar av en bok.
        </p>
    </div>


    <div class="locationBopelContainerSeller">
        <img class="prefIcons" src="/image/lokasjon.png" alt="Lokasjon">
        <p class="bioText" th:text="${user.municipality.getDisplayValue()}">Oslo</p>
    </div>

    <div>
        <h4 class="prefH4">Preferanser</h4>

        <div class="iconContainer">
            <img th:if="${animal.getFemale()}" class="prefIcons" src="/image/female.png" alt="">
            <img th:unless="${animal.getFemale()}" class="prefIcons" src="/image/male.png" alt="">
            <img th:if="${animal.getIsChildFriendly()}" class="prefIcons" src="/image/kid.png" alt="">
            <img th:if="${animal.getIsChipped()}" class="prefIcons" src="/image/chip.png" alt="">
            <img th:if="${animal.getIsVaccinated()}" class="prefIcons" src="/image/vaksine.png" alt="">
            <img th:if="${animal.getIsSterilized()}" class="prefIconsKas" src="/image/kas.png" alt="">
        </div>
    </div>
</div>

<p th:if="${matchedUsers.isEmpty()}" class="textSeller" th:text="'Venter på matcher... '"></p>
<p th:unless="${matchedUsers.isEmpty()}" class="textSeller" th:text="${#lists.size(matchedUsers)} + ' personer liker ' + ${animal.name}"></p>


<!-------- BUYER INFO -------->
<div class="buyerInfoContainer">
    <div th:each="owner : ${matchedUsers}">

        <hr class="userProfileLine">
        <div class="buyerIconContainer">
            <p class="userBioName" th:text="${owner.getFirstName() + ' ' + owner.getLastName() +
            ' liker ' +  animal.name}"></p>

            <a th:href="'/userProfile/' + ${owner.getId()} + '/' + ${animal.id}">
                <img id="buyerPicInSellerView" th:src="${owner.getUserImg()}" alt="">
            </a>

            <div th:if="${approvedUsers.contains(owner)}">
                <img class="heartIconRed" src="/image/redHeart.png" alt="">
            </div>

            <div id="heartOutlinedBlackDiv" th:unless="${approvedUsers.contains(owner)}">
                <a th:href="'/approve/' + ${animal.id} + '/' + ${owner.id}">
                    <img class="heartIconWhite" src="/image/heartOutlinedWhite.png" alt="">
                </a>
            </div>

            <img class="buyerIconLocation" src="/image/lokasjon.png" alt="">
            <p class="iconTextLoc" th:text="${owner.municipality.getDisplayValue()}"></p>
            <img class="buyerIconBopel" src="/image/bopel.png" alt="">
            <p class="iconTextBo" th:if="${owner.homeType == T(com.example.demo.HomeType).HOUSE}" th:text="Hus">Hus</p>
            <p class="iconTextBo" th:if="${owner.homeType == T(com.example.demo.HomeType).APARTMENT}" th:text="Leilighet">Leilighet</p>
        </div>

    </div>
</div>

<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>

</body>
</html>