<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/indexHB.css">
    <title>Pet Match | Dine dyr</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>
<body>

<!----------- HEADER ----------->
<header>
    <div class="headerLogin">
        <p id="headerLoginTekst">Dine dyr</p>
    </div>
</header>


<!-------- MAIN -------->

<div class="animalsViewContainer">

    <div th:each="eachAnimal : ${myMatches}">

        <a th:href="'/sellersAnimalLikes/' + ${eachAnimal.animal.getId()}">
            <img id="sellerViewAnimalPic" th:src="${eachAnimal.animal.getAnimalImg1()}" alt="">
        </a>

        <div id="textIconContainer">
            <p class="sellerViewText" th:text="${eachAnimal.animal.name + ' ' + eachAnimal.animal.age + ' år'}">Kira</p>
            <div id="countLikesHeartDiv">
            <img class="heartAmount" src="/image/redHeart.png" alt="">
            <p style="font-size: 14px" th:text="${eachAnimal.getLikes()}"></p>
            </div>
        </div>
    </div>

    <div class="buttonContainer">
        <a th:href="'/leggtil'"><input class="continueButtons" type="submit" value="Legg til et nytt dyr"></a>
    </div>
</div>


<!-------- MENU -------->
<div class="menu" th:include="templates :: menu"></div>


</body>
</html>