<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Templates</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../static/indexHB.css">

</head>
<body>
    <div th:fragment="menu" class="menu">
        <img class="menuImage" src="image/paw.png" alt="Back to home">
        <img class="menuImage" src="image/animalFace.png" alt="Your animals">
        <img class="menuImage" src="image/hjerte.png" alt="Your matches">
        <img class="menuImage" src="image/person.png" alt="Your animals">
    </div>
</body>
</html>