<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/indexHB.css">
    <title>Pet Match | Brukerprofil</title>
    <link rel="icon" type="image/png" href="image/paw.png">
</head>

<body>

<!-------- HEADER -------->
<header>
    <div>
        <p>Brukerprofil</p>
    </div>
</header>


<a th:if="${animalId != null}" class="leftArrowAtag" th:href="'/sellersAnimalLikes/' + ${animalId}"><p id="arrowPtag">&#60;</p></a>
<!-------- USER PICTURE + NAME -------->
<div id="userPicNameDiv">
    <div class="centerDivs">
        <img id="userPic" th:src="${user.getUserImg()}" alt="">
    </div>
    <a class="editCameraUser" th:if="${user}" th:href="'/userProfile/' + ${user.id}+ '/bilde'">
        <img class="editIcon" src="/image/camera.png" alt="Edit">
        <p class="editCameraText">Oppdater</p>
    </a>
    <div class="centerDivs">
        <h3 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Kristine Hansen</h3>
    </div>



</div>

<hr class="userProfileLine">

<!-------- USER BIO + PREFERENCES -------->

<div class="userBioContainer">
    <div>
        <p th:text="${user.getBio()}">Lorem Ipsum er rett og slett dummytekst fra
            og for trykkeindustrien. Lorem Ipsum har
            vært bransjens standard for dummytekst helt
            siden 1500-tallet, da en ukjent boktrykker
            stokket en mengde bokstaver
            for å lage et prøveeksemplar av en bok.
        </p>
    </div>

    <div class="userIconTextBox">
        <img class="prefIcons" src="/image/lokasjon.png" alt="Lokasjon">
        <p th:text="${user.municipality}">Oslo</p>
    </div>

    <div th:if="${user.getUserType() == T(com.example.demo.UserType).BUYER}" class="userIconTextBox">
        <img class="prefIcons" src="/image/bopel.png" alt="Bopel">
        <p th:if="${user.homeType == T(com.example.demo.HomeType).HOUSE}" th:text="Hus">Hus</p>
        <p th:if="${user.homeType == T(com.example.demo.HomeType).APARTMENT}" th:text="Leilighet">Leilighet</p>
    </div>

    <div th:if="${user.getUserType() == T(com.example.demo.UserType).BUYER}" class="userIconTextBox">
        <img class="prefIcons" src="/image/dogCat.png" alt="Har dyr">
        <p th:if="${user.isPreviousAnimalOwner}">Har/hatt dyr</p>
        <p th:unless="${user.isPreviousAnimalOwner}" >Har ikke hatt dyr</p>
    </div>

    <div th:if="${user.getUserType() == T(com.example.demo.UserType).BUYER}" class="userIconTextBox">
        <img class="prefIcons" src="/image/kid.png" alt="kids">
        <p th:if="${user.hasChildren}">Har barn</p>
        <p th:unless="${user.hasChildren}" >Har ikke barn</p>
    </div>

    <hr class="userProfileLine">

    <div th:if="${isApprovedMatch}">
        <p class="kontaktEierText">Kontakt eier</p>
        <p th:text="${owner.getFirstName() + ' ' + owner.getLastName()}">Her kommer kontakt info..</p>
        <img class="eierPic" th:src="${user.getUserImg()}" alt="">
        <p th:text="${owner.getEmail()}"></p>
    </div>

</div>

<div class="menu" th:include="templates :: menu"></div>

</body>

</html>